.main-text {
  width: 100%;
  margin-bottom: 140px;
  display: flex;
  justify-content: center;

  .background {
    width: 100%;
    max-width: 1170px;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/pexels-alexandr-podvalny.jpeg") center/cover no-repeat;

    .container {
      padding: 40px 16px 71px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      @media (min-width: 768px) {
        padding: 89px 32px 88px;
      }

      @media (min-width: 1024px) {
        padding: 164px 60px 163px;
      }
    }

    .text {
      max-width: 328px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #fff;

      @media (min-width: 768px) {
        max-width: 380px;
      }

      h1 {
        color: inherit;
      }
    }
  }
}
